.card-setting{
    color: #ffffff;
    display: flex;    
    align-items: center;
    text-align: center;
    min-height: 40vh;
    background: url(../Instruction/ball-443852.jpg) center/cover no-repeat;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0 , 0 , 0.4),
                -0.15em -0.5rem 1rem rgba(0, 0 , 0 , 0.4);
                height: 100%;
                object-fit: fill;
}
.sources{
    margin-bottom: 20px;
    display: inline-block;
}   
.card-theme{
    background: #060a1f !important;
}
.card-body-bg{
    background: rgba(0,0,0,0.4);
}